.buttonStyle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


  
.guesses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 5px; /* Adds space between rows and columns */
  }
  
  .guess-header, .guess-row {
    text-align: center;
  }
  

  .guess-cell_image {

    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    width: 50; /* Adjust cell width */
  }
  .guess-cell {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    width: 150px; /* Adjust cell width */
  }
  
  .image-cell {
    background-color: white;
  }
  
  .guess-image {
    width: 75;
    height: 110;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }

  .partial {
    background-color: yellow;
    color: black;
  }


  .winning-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* transparency */
    color: white;
    z-index: 1000; /* to be over all views */
    text-align: center;
}